#wrapper
{
  background: url("../images/backgrd.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root 
{
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}
  
.container 
{
  display: inline-block;
  flex-wrap: wrap;
}
  
.card 
{
  text-align:center;
  margin: 1rem;
  border: 1px solid gray;
}

.all
{
  background: url("../images/school.jpg") center center no-repeat; 
  background-color: white;
  border: black;
  border-style: solid;
  padding: 1em;
  text-align: center;
  font-size:20px;
  margin: 1em;
  -webkit-text-stroke: .7px black;
    color: black;
    text-shadow: 
      .7px .7px 0 white, 
      -.7px -.7px 0 white, 
      .7px -.7px 0 white, 
      -.7px .7px 0 white, 
      .7px .7px 0 white;
}

.year1
{
  background: url("../images/freshman.jpg") center center no-repeat; 
  background-color: white;
  border: black;
  border-style: solid;
  padding: 1em;
  text-align: center;
  font-size:20px;
  margin: 1em;
  -webkit-text-stroke: .7px black;
  color: black;
  text-shadow: 
    .7px .7px 0 white, 
    -.7px -.7px 0 white, 
    .7px -.7px 0 white, 
    -.7px .7px 0 white, 
    .7px .7px 0 white;
}

.gryffindor
{
  background: url("../images/gryffindor.jpg") center center no-repeat; 
  background-color: white;
  border: black;
  border-style: solid;
  padding: 1em;
  text-align: center;
  font-size:20px;
  margin: 1em;
  -webkit-text-stroke: .7px black;
  color: black;
  text-shadow: 
    .7px .7px 0 white, 
    -.7px -.7px 0 white, 
    .7px -.7px 0 white, 
    -.7px .7px 0 white, 
    .7px .7px 0 white;
}
  
.astronomy
{
  background: url("../images/space.jpg") center center;

  background-color: white;
  border: black;
  border-style: solid;
  padding: 1em;
  text-align: center;
  font-size:20px;
  margin: 1em;
  -webkit-text-stroke: .7px black;
  color: black;
  text-shadow: 
    .7px .7px 0 white, 
    -.7px -.7px 0 white, 
    .7px -.7px 0 white, 
    -.7px .7px 0 white, 
    .7px .7px 0 white;
}

.value
{
  font-size: 20px;
}

@media screen and (min-width: 600px) 
{
  .card 
  {
    flex: 1 1 calc(50% - 2rem);
  }
}
  
@media screen and (min-width: 900px)
{
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}